*{
box-sizing: border-box;
}

.container {
    border: solid lightgrey 4px; 
   padding: 80px 24px 80px 24px;

}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}
 
.box { 
border: solid lightgrey 4px;
margin-bottom: 24px;

}
 
.box-large {
width: 45%;

}

.box-small {
height: 50px;
}

.box-tiny{
    width: 30%;
    height: 50px;
}

.tiny-wrapper{
    display: flex;
    justify-content: space-between; 
}

.box-wrapper {
    width: 45%;
    padding-right: 24px;
}