*{
box-sizing: border-box;
}

.container {
    border: solid lightgrey 4px; 
   padding: 24px 24px 0px 24px;
   display: flex;
   justify-content: space-between;
}
 
.box { 
border: solid lightgrey 4px;
margin-bottom: 24px;

}
 
.box-large {
width: 45%;

}

.box-small {
height: 50px;
}

.box-wrapper {
    width: 45%;
    padding-right: 24px;
}