*{
box-sizing: border-box;
}

.container{
    border: solid lightgrey 4px; 
   padding:  24px 24px 0px 24px;
  
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

}

.title{
    border: solid lightgrey 4px; 
    width: 100%;
    height: 24px;
    margin-bottom: 24px;

}

.box{
border: solid lightgrey 4px;
width: 30%;
height: 100px;
margin-bottom: 24px;

}

.box-wrapper{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}