.container{
    border: solid lightgrey 4px;
    display: flex;
    justify-content: space-between;
   padding: 24px;
}

.box{
border: solid lightgrey 4px;
width: 100px;
height: 100px;
}

.box-small{
    border: solid lightgrey 4px;
width: 50px;
height: 50px;
margin-left: 24px;
}

.box-wrapper {
display: flex;
align-items: center;

}
 